body
  height 100%
  width 100%
  margin 0

  position absolute
  display flex
  align-items center
  justify-content center
  overflow hidden
  background-size cover
  @media $smartPhone
    &.with-overflow
      overflow visible
      position relative

body *
  font-family 'Russo One', cursive

.normal-background
  background-image url("../img/space.jpg")

.space-background
  background-image url("../img/space2.jpg")

.slow-moving-background
  background-size cover
  background-repeat repeat
  animation slow-moving-space 250s linear infinite

.moving-background
  background-size cover
  background-repeat repeat
  animation moving-space 10s linear infinite

.full-height-and-width
  height 100%
  width 100%

@keyframes moving-space
  from
    background-position 0 0
  to
    background-position 3414px -2134px

@keyframes slow-moving-space
  from
    background-position 0 0
  to
    background-position 3414px 0


.flex
  display flex

.flex-center
  justify-content center
  align-items center