#earth
  height 100vh
  width 100vw
  background-image url("../img/earth.png")
  background-size 1%
  background-repeat no-repeat
  background-position center
  //transition: background-size 300000ms ease-in;
  //&:hover
  //  animation grow 5s ease-in-out

.grow
  background-size 150% !important


.qr-box
  text-align center

.timer-danger
  color #FF033D !important
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white

.feedback-bar
  position absolute
  width 100%
  top 8vh

@keyframes grow
  0%
    background-size 30%
  20%
    background-size 40%
  40%
    background-size 50%
  60%
    background-size 60%
  80%
    background-size 70%
  100%
    background-size 80%
