.form-row
  width 40vw
  @media $smartPhone
    width 95vw
    padding .2em

  @media $smartPhonePortrait
    width 95vw

.form-box
  border-radius 5px
  background-color white
  padding 2em 1.5em
  button
    width 100%
