#meteor-box
  //background-image url("../img/meteor.gif")
  //background-repeat no-repeat
  //background-position center
  height 100vh
  width 100vw

#meteor-object
  position absolute
  height 20vh
  width 100vw
  bottom -300px
  @media $smartPhone
    bottom -160px
  img
    transform rotate(145deg)
    width 100vh